body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

input, button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #996af0;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #eebffa;
}

h1, h2, h3 {
    color: #2c3e50;
}

a {
    color: #ac65ee;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
